.hero {
  min-height: 100vh;
  min-height: calc(100vh - 62px);
  background: #3fd0d4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-banner {
  text-align: center;
  color: #fff;
  width: 100%;
}
.hero-logo {
  display: flex;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .hero-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
    font-size: 78px;
    margin-top: 25px;
    margin-left: 10px;
    font-family: "Revalia", cursive;
    letter-spacing: 20px;
  }
}
.hero-text {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  letter-spacing: 0.25rem;
  line-height: 2;
  font-weight: 400;
  background-color: #6a45ff;
  color: #fff;
}
.hero-para {
  font-size: 20px;
  color: #fff;
  width: 60%;
  margin: 0px auto;
}
.vl-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.scroll-tect {
  position: absolute;
  bottom: 80%;
  left: -40px;
  right: 80%;
  color: #fff;
  font-family: "Revalia", cursive;
  letter-spacing: 6px;
}
.vl {
  border-left: 2px solid #fff;
  height: 50px;
}

//   hero slider
.section-center {
  margin: 0 auto;
  width: 100%;
  height: 91vh;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(
      4deg,
      rgba(0, 0, 0, 0.7456232492997199) 28%,
      rgba(0, 0, 0, 0.2358193277310925) 56%,
      rgba(0, 0, 0, 0.2358193277310925) 85%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-title {
    font-size: 4.5rem;
  }

  .hero-logo img {
    background-size: cover;
  }
}

@media screen and (max-width: 425px) {
  .hero-text P {
    background-color: transparent !important;
  }
}
