@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");

body {
  background: #ffffff;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
